# Server
NODE_ENV=development
PORT=3000
GEHEIMNIS=dein_app_geheimnis

# Datenbank (Hier nur Platzhalter)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=deine_db
DB_USER=dein_user
DB_PASS=dein_passwort

# Nur für Podman/Docker Compose (beim ersten Erstellen)
DB_ROOT_PASSWORD=root_passwort_hier_eintragen

# Erster Admin
INIT_ADMIN_NICK=admin
INIT_ADMIN_EMAIL=admin@deine-domain.de
INIT_ADMIN_PASS=geheim123
# Test User
INIT_USER_NICK=testuser
INIT_USER_EMAIL=user@deine-domain.de
INIT_USER_PASS=user123
